{
  default_lang => 'ru',
  some_key => 'test',
  roles => {
    top => {
      landmarks => {
        write => 1,
        read => 1
      },
      users => {
        manage => 1
      },
      realty => {
        export => 1,
        analyse => 1,
        write => {
          nobody => 1,
          others => 1
        },
        read => {
          others => 1,
          nobody => 1
        },
        delete => {
          others => 1,
          nobody => 1
        }
      },
      clients => {
        subscribe => 1,
        write => 1,
        read => {
          others => 1,
          nobody => 1
        }
      },
      mediators => {
        write => 1,
        read => 1
      },
      subscriptions => {
        write => 1,
        read => 1
      }
    },
    manager => {
      realty => {
        analyse => 1,
        read => {
          others => 2,
          nobody => 1
        },
        write => {
          others => 1,
          nobody => 1
        },
        delete => {
          nobody => 1,
          others => 1
        }
      },
      clients => {
        write => 1,
        subscribe => 1,
        read => {
          others => 1,
          nobody => 1
        }
      },
      mediators => {
        write => 1,
        read => 1
      },
      subscriptions => {
        read => 1,
        write => 1
      }
    },
    dispatcher => {
      subscriptions => {
        write => 1,
        read => 1
      },
      clients => {
        write => 1,
        subscribe => 1,
        read => {
          others => 1,
          nobody => 1
        }
      },
      realty => {
        write => {
          others => 0,
          nobody => 0
        },
        read => {
          others => 2,
          nobody => 0
        }
      }
    },
    agent => {
      clients => {
        read => {
          others => 0,
          nobody => 1
        },
        write => 0
      },
      realty => {
        export => 0,
        analyse => 1,
        read => {
          others => 2,
          nobody => 1,
        },
        write => {
          nobody => 0,
          can_assign => 1,
          others => 0
        }
      },
      subscriptions => {
        write => 1,
        read => 1
      }
    },
  },

  default_phone_prefix => 4212,
  location_id => 3,
  location_short => 'msk',
  account_type => 'production',

  location => {
    lat => 55.754035,
    lng => 37.620410,
  },

  hypnotoad => {
    proxy => 1,
    pid_file => 'hypnotoad.pid',
    listen => [
      'http://185.117.153.149:2999'
    ]
  },
  query_cache_lifetime => '3 days',
  assets => {
    url => '/assets'
  },
  realty => {
    close_on_save => 1
  },
  secret => 'pelbHipE5pTQvKAAyhZxkhhXNTArcxiN',
  force_hide_nav => {
    dispatcher => [
      'realty',
      'clients'
    ],
    agent => [
      'search'
    ]
  },

  storage => {
    url => '/storage_ln',
    path => '/var/data/rplus/storage_dev',
    external => 'http://storagedev.rplusmgmt.com'
  },
  api_keys => {
    google => 'AIzaSyBw9CMGQ3BzbCopcUdLeaMsPEUEDWZbCWM',
    yandex => 'AHRyt0oBAAAAWyicdAIAGkJ4VW61SHm2C39aWWNEBX0Ppf8AAAAAAAAAAACl2Ft6tPAwl73mh2D-gxCQ089Xsw=='
  },
  search => {
    poi_types => 'subway_station|bus_station|train_station',
    radius => '1000',
    places_radius => '50000'
  },
  billing_url => 'billing.rplusmgmt.com',
  import_server_url => 'import.rplusmgmt.com:3000',
  export => {
    city => 'Москва',
    region => 'Московская обл.',
  }
}
