{
  default_lang => 'ru',
  roles => {
             top => {
                      landmarks => {
                                     write => 1,
                                     read => 1
                                   },
                      users => {
                                 manage => 1
                               },
                      realty => {
                                  write => {
                                             nobody => 1,
                                             others => 1
                                           },
                                  analyse => 1,
                                  delete => {
                                              others => 1,
                                              nobody => 1
                                            },
                                  read => {
                                            others => 1,
                                            nobody => 1
                                          },
                                  export => 1
                                },
                      clients => {
                                   subscribe => 1,
                                   write => 1,
                                   read => {
                                             others => 1,
                                             nobody => 1
                                           }
                                 },
                      mediators => {
                                     write => 1,
                                     read => 1
                                   },
                      subscriptions => {
                                         write => 1,
                                         read => 1
                                       }
                    },
             manager => {
                          realty => {
                                      read => {
                                                others => 2,
                                                nobody => 1
                                              },
                                      write => {
                                                 others => 1,
                                                 nobody => 1
                                               },
                                      analyse => 1,
                                      delete => {
                                                  nobody => 1,
                                                  others => 1
                                                }
                                    },
                          clients => {
                                       write => 1,
                                       subscribe => 1,
                                       read => {
                                                 others => 1,
                                                 nobody => 1
                                               }
                                     },
                          mediators => {
                                         write => 1,
                                         read => 1
                                       },
                          subscriptions => {
                                             read => 1,
                                             write => 1
                                           }
                        },
             dispatcher => {
                             subscriptions => {
                                                write => 1,
                                                read => 1
                                              },
                             clients => {
                                          write => 1,
                                          subscribe => 1,
                                          read => {
                                                    others => 1,
                                                    nobody => 1
                                                  }
                                        },
                             realty => {
                                         write => {
                                                    others => 0,
                                                    nobody => 0
                                                  },
                                         read => {
                                                   others => 2,
                                                   nobody => 0
                                                 }
                                       }
                           },
             agent => {
                            clients => {
                                         read => {
                                                   others => 0,
                                                   nobody => 1
                                                 },
                                         write => 0
                                       },
                            realty => {
                                        export => 0,
                                        read => {
                                                  others => 2,
                                                  nobody => 1,
                                                },
                                        analyse => 1,
                                        write => {
                                                   nobody => 0,
                                                   can_assign => 1,
                                                   others => 0
                                                 }
                                      },
                            subscriptions => {
                                               write => 1,
                                               read => 1
                                             }
                          },
           },
  default_city_guid => 'a4859da8-9977-4b62-8436-4e1b98c5d13f',
  default_phone_prefix => 4212,
  location_id => 3,

  location => {
    lat => 55.754035,
    lng => 37.620410,
  },

  hypnotoad => {
                 proxy => 1,
                 pid_file => 'hypnotoad.pid',
                 listen => [
                             'http://127.0.0.1:19099'
                           ]
               },
  query_cache_lifetime => '3 days',
  assets => {
              url => '/assets'
            },
  realty => {
              close_on_save => 1
            },
  secret => 'pelbHipE5pTQvKAAyhZxkhhXNTArcxiN',
  force_hide_nav => {
                      dispatcher => [
                                      'realty',
                                      'clients'
                                    ],
                      agent => [
                                 'search'
                               ]
                    },
  account_type => 'dev',
  storage => {
               url => '/storage_ln',
               path => '/var/data/rplus/storage'
             },
  realty_buffer_url => 'http://185.117.153.149:3000',
  export => {
    city => 'Москва',
    region => 'Московская обл.',
  },
  api_keys => {
    google => 'AIzaSyBw9CMGQ3BzbCopcUdLeaMsPEUEDWZbCWM',
    yandex => 'AHRyt0oBAAAAWyicdAIAGkJ4VW61SHm2C39aWWNEBX0Ppf8AAAAAAAAAAACl2Ft6tPAwl73mh2D-gxCQ089Xsw=='
  },
  search => {
    poi_types => 'subway_station|bus_station|train_station',
    radius => '1000',
    places_radius => '50000'
  },
  billing_url => 'tmpbilling.rplusmgmt.com'
}
