#softPhoneWidget {
  position: absolute;
  z-index: 100;
  width: 90px;
  height: 90px;

  /* center on screen */
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
}

#softPhoneWidget .btn-center {
  position: absolute;
  top: 34px;
  left: 34px;
  z-index: 101;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 100%;
}

#softPhoneWidget .btn-topleft {
  position: absolute;
  background: #ccc;
  width: 44px;
  height: 44px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-top-left-radius: 100%;
}

#softPhoneWidget .btn-topleft i {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#softPhoneWidget .btn-topright {
  position: absolute;
  background: #ccc;
  left: 45px;
  width: 44px;
  height: 44px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-top-right-radius: 100%;
}

#softPhoneWidget .btn-topright i {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#softPhoneWidget .btn-bottomleft {
  position: absolute;
  background: #ccc;
  top: 45px;
  width: 44px;
  height: 44px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom-left-radius: 100%;
}

#softPhoneWidget .btn-bottomleft i {
  position: absolute;
  top: 10px;
  right: 10px;
}

#softPhoneWidget .btn-bottomright {
  position: absolute;
  background: #ccc;
  left: 45px;
  top: 45px;
  width: 44px;
  height: 44px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom-right-radius: 100%;
}

#softPhoneWidget .btn-bottomright i {
  position: absolute;
  top: 10px;
  left: 10px;
}

#softPhoneWidget .softphone-btn {
  opacity: 0.8;
  cursor: pointer;
  color: #fff;
}

#softPhoneWidget .softphone-btn.editable-click {
  border-bottom: 0;
}

#softPhoneWidget .softphone-btn:hover {
  opacity: 0.7;
}

#softPhoneWidget .disabled {
  /*color: #ccc;*/
  cursor: default;
}

#softPhoneWidget .softphone-call.accept {
  background-color: green;
}

#softPhoneWidget .softphone-call.hangup {
  background-color: red;
}

#softPhoneWidget .softphone-contact {
  color: #000;
}
