.popover {
  max-width: none !important;
}
.rplus-client {
  border-bottom: 0px !important;
  text-decoration: none !important;
  cursor: pointer;
  display: inline-block;
}
.rplus-client > .alert {
  margin-bottom: 0px !important;
  font-weight: bold;
}
.rplus-client-empty {
    color: #dd1144;
    margin-top: 5px;
    display: inline-block;
}
